.card-trip {
  overflow: hidden;
  background: white;
  margin-bottom: 40px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 1px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  display: flex;

  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.cards-hp {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  justify-content: center;
  align-items: center;
}
 /* ceci est un test */
 .card-custom {
  overflow: hidden;
  background: white;
  margin-bottom: 40px;
}

.card-custom .category-style {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

.card-custom .card-image {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.card-custom .card-details {
  flex: 0 0 40%; /* Ajustez la largeur des détails (40% dans cet exemple) */
  padding: 16px;
}

.card-custom .card-details .card-title {
  font-size: 22px;
  color: #8583C0;
}


.card-trip video {
  height: 200px; /* Hauteur similaire à celle des images */
  width: 100%;   /* Largeur similaire à celle des images */
  object-fit: cover;
}

.category-style {
  font-size: 16px;
  font-weight: bold /* Remplacez par la taille de police de votre choix */
  /* Ajoutez d'autres propriétés de style au besoin */
}
