/* Style pour le formulaire d'inscription à la newsletter */
.newsletter-form {
  display: flex;
  flex-direction: column; /* Utilise une disposition en colonnes */
  align-items: center; /* Centre les éléments horizontalement */
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 20px; /* Ajuste le padding selon tes préférences */
  border-radius: 5px;
  max-width: 400px; /* Ajuste la largeur maximale du formulaire selon tes préférences */
  margin: auto; /* Centre le formulaire horizontalement sur la page */
}

.input-field {
  width: 100%;
  padding: 10px; /* Ajuste le padding selon tes préférences */
  margin: 5px 0; /* Ajuste la marge selon tes préférences */
  border: 1px solid #ccc;
  border-radius: 3px;
}


.success-message {
  background-color: #4caf50;
  color: #fff;
  padding: 20px; /* Ajuste le padding selon tes préférences */
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
}

.subscriber-form {
  margin-top: 20px; /* Ajuste la marge supérieure selon tes préférences */
}
