@import "bootstrap";

// Your CSS partials
@import "components/_navbar";
@import "components/_footer";
@import "components/_connexion";
@import "components/_search-form";
@import "components/_card";
@import "components/_show-post";
@import "components/_newsletters_form";
@import "components/_subscribers";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300&display=swap');
body {
  font-family: 'Georgia';
  margin-top: 170px;
}


/* Écrase les variables Bootstrap pour personnaliser le bouton btn-primary */
.cstm-btn {
  color: #ffffff; /* Couleur du texte */
  background-color: #CC5B56;
  border-color: #CC5B56; /* Couleur de fond */
  padding: 10px; /* Ajuste le padding selon tes préférences */
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
}

/* Au survol */
.cstm-btn:hover {
  color: #CC5B56;
  background-color: #ffffff;
  border-color: #ffffff;
}

/* Lorsqu'il est actif (enfoncé) */
.cstm-btn:active {
  color: #CC5B56;
  background-color: #ffffff;
  border-color: #ffffff;
}
.cstm-btn-container {
  text-align: center;
  margin-top: 10px; /* Ajuste la marge supérieure selon tes préférences */
}

h3 {
  color: #CC5B56;
  font-weight: bold;
}
